.homeGroup .button {

    float: left;
    margin: 30px;
    p{
        font-weight: 700;
    }
         
    }

.fa-caret-left {
    float: left;
    margin: 30px 0 0 0;
    font-size: 7rem;
    color: #3D3D3D;
    display: none;
    }

.homeGroupe p {
    margin: 0;
}

.homeGroup .button {
    float: left;
}

.homeSection .options {
    width: 50%;
    padding-top: 5%;
    margin: 0 auto;
}