.logo {
    margin: 0;
}

// .options {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
// }

.title {
    float: none;
    text-align: center;
}

.homeGroup {
    text-align: center;
}

.instructions {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    font-family: $headFont; 
    font-size: 1.7rem;
    letter-spacing: 3px;
    width: 70%
}

.homeGroup .button {
    margin: 30px;
    p {
        font-weight: 700;
    }

}

.fa-caret-left {
    float: left;
    margin: 30px 0 0 0;
    font-size: 7rem;
    color: #3D3D3D;
    display: none;
}


.homeGroupe p {
    margin: 0;
}

.homeSection .options {
    // width: 38%;
    padding-top: 5%;
    margin: 0 auto;
}

// list of existing teams

.existingTeamsList {
    float: left;
    width: 30%;
    height:459px;
    background-color: $yellow;
    border: 8px solid #8C8C38;
    overflow: scroll;
    // margin: 0 auto;
}

.listOfExistingTeams {
    cursor: pointer;
    font-family: $bodyFont;
    li {
        list-style: none;
        font-weight: 700;
        color: $black;
        display: inline;
        &:hover {
            color: white;
            // border-top: 0.5px solid grey;
            // border-bottom: 0.5px solid grey;
        }
    }
}

.homeFloat {
    float: left;
    margin: 0 auto;
}
// =======================
// RESPONSIVENE DESIGN
// =======================
// **Large monitors**
@media (max-width: 1200px) {
    .existingTeamsList {
        width: 40%;
    }
}
// **Landscape phone to portrait tablet**
@media (max-width: 940px) {
    .existingTeamsList {
        width: 47%;
    }
    .homeGroup .button {
        margin-left: 0;
    }
    .headerTextContainer .logo {
        float: none;
    }
    .title {
        margin-top: 20px;
    }
}
// **Portrait tablet to small desktops**
@media (max-width: 767px) {
    .existingTeamsList {
        width: 75%;
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    
    .listOfExistingTeams {
        padding-left: 0;
    }

    .homeGroup .button {
        margin-right: 0;
        margin-left: 0;
        width: 310px;
    }
    .homeFloat {
        float: none;
    }
}
// **Small desktop to large desktops**
@media (max-width: 480px) {
    .homeGroup .button {
        margin: 15px 0;
    }
    // .homeFloat {
    //     float: none;
    // }
    .existingTeamsList {
        float: none;
        margin: 0 auto;
        width: 78%;
    }
    .homeGroup .button {
        width: 100%;
    }
    .homeSection .options {
        margin: -30px 0 auto;
    }
}