.logo {
    margin: 0;
}

.headerTextContainer {
    // padding-top: 5px;
}

.homeGroup .button {

    margin: 30px;
    p{
        font-weight: 700;
    }
         
    }

.fa-caret-left {
    float: left;
    margin: 30px 0 0 0;
    font-size: 7rem;
    color: #3D3D3D;
    display: none;
}


.homeGroupe p {
    margin: 0;
}

.homeGroup {
    text-align: center;
}

.homeSection .options {
    width: 38%;
    padding-top: 5%;
    margin: 0 auto;
}

// list of existing teams

.existingTeamsList {
    float: left;
    width: 30%;
    height:459px;
    background-color: rgb(213, 182, 6);
    border: 8px solid #8C8C38;
    overflow: scroll;

}

.listOfExistingTeams {
    cursor: pointer;
    font-family: $bodyFont;
    li {
        list-style: none;
        color: $black;
        display: inline;
        &:hover {
            color: white;
            // border-top: 0.5px solid grey;
            // border-bottom: 0.5px solid grey;
        }
    }
}

.homeFloat {
    float: left;
}
// =======================
// RESPONSIVENE DESIGN
// =======================
// **Landscape phone to portrait tablet**
@media (min-width: 480px) {
    
}
// **Portrait tablet to small desktops**
@media (min-width: 767px) {

}
// **Small desktop to large desktops**
@media (min-width: 940px) {
    
}