// search Area

.search {
    height:482px;
    width:45%;
    float: right;
    background-color: $yellow;
    border: 7px solid #8C8C38;
    position: relative;
    
}

.searchArea {
    margin: 10px;
    width: calc(100% - 20px);
    background-color: $yellow;
    border: 4px solid rgb(103, 103, 41);
    text-transform: uppercase;
    font-family: $bodyFont;
    color: #3D3D3D;
    height: 65px;
    input[type=text] {
        width: 60%;
        background-color: white;
        border: none;
        text-transform: uppercase;
        color: #3D3D3D;
        text-align: left;
        height: 100%;
        padding: 5px;
        font-size: 17px;
    }

}

.searchCharacterButton {
    width: 38%;
    background-color: $yellow;
    border: 0;
    height: 100%;
}

.resultsArea {
    height: 72%;
    overflow: scroll;
    padding: 20px;
}

.searchResult {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px grey solid;
}

.imageName {
    width: 30%;
    float: left;
    img {
        width: 100%;
    }
    h3 {
        color: $black;
        margin: 0;
    }
}

.resultBody {
    float: left;
    ul {
        padding-left: 10px;
        margin: 0;
        float: left;
    }
}

.addToRosterButton {
    float: left;
    margin-top: 22%;
    margin-left: 22px;
    border-radius: 50px;
    padding: 10px;
    border: 6px $lightBlue solid;
    font-family: $bodyFont;
}

.charaStat {
    list-style: none;
}


// MEDIA QUERIES

@media (max-width: 1070px) {

    .addToRosterButton {
        font-size: 1rem;
    }

    .imageName h3 {
        font-size: 1rem;
    }
}

@media (max-width: 985px) {

   
    .rowList {
        display: block;
    }

    .addToRosterButton {
        margin: 0;
        float: none;
    }
}

@media (max-width: 940px) {
    .search {
        float: none;
        width: 65%;
        margin: 0 auto;
    }
}