// Sweetalert Alert buttons

.sweetButton {
    color: #3D3D3D;
    border: 5px solid rgb(140, 140, 56);
    border-radius: 50px;
    text-decoration: none;
    font-family: $bodyFont;
    // font-size: 2rem;
    text-align: center;
    // padding-top: 19px;
    background: rgb(213, 182, 6);
    // width: 310px;
    // height: 150px;
}
.sweetResultsDiv{
    float: left;
    width: 37%;
    text-align: right;
}

.sweetVsDiv{
    float: left;
    width: 25%;
}
.swal-modal.sweetWideAlert{
    width: 543px;
}