// Sweetalert Alert buttons
.swal-overlay {
    background-color: rgba(129, 209, 190, 0.4);
}
.swal-modal {
    background-color: #49789a;
    border: 5px solid #396683;
} 
.sweetButton {
    color: #3D3D3D;
    border: 5px solid rgb(140, 140, 56);
    border-radius: 50px;
    text-decoration: none;
    font-family: $bodyFont;
    // font-size: 2rem;
    text-align: center;
    // padding-top: 19px;
    background: rgb(213, 182, 6);
    // width: 310px;
    // height: 150px;
    &:hover{
        background: darken(rgb(213, 182, 6), 15%);
        border-color: darken(rgb(140, 140, 56), 15%);
    }
}
.sweetResultsDiv{
    float: left;
    width: 37%;
    &.player{
        text-align: right;
        strong{
            text-shadow:
            -2px -2px 0 green,  
            2px -2px 0 green,
            -2px 2px 0 green,
            2px 2px 0 green;
            font-size: 1.1rem;
        }
    }
    &.enemy{
        text-align: left;
        strong{
            text-shadow:
            -2px -2px 0 red,  
            2px -2px 0 red,
            -2px 2px 0 red,
            2px 2px 0 red;
            font-size: 1.1rem;
        }
    }
}
strong.player{
    text-shadow:
    -2px -2px 0 green,  
    2px -2px 0 green,
    -2px 2px 0 green,
    2px 2px 0 green;
    font-size: 1.1rem;
}
strong.enemy{
    text-shadow:
    -2px -2px 0 red,  
    2px -2px 0 red,
    -2px 2px 0 red,
    2px 2px 0 red;
    font-size: 1.1rem;
}

.swal-title{
    float: none;
    font-size: 2.2rem;
    text-shadow:
        -3px -3px 0 $black,  
        3px -3px 0 $black,
        -3px 3px 0 $black,
        3px 3px 0 $black;
}

.sweetVsDiv{
    float: left;
    width: 25%;
    font-family: $headFont;
    text-shadow:
        -3px -3px 0 $black,  
        3px -3px 0 $black,
        -3px 3px 0 $black,
        3px 3px 0 $black;
}
.swal-modal.sweetWideAlert{
    width: 553px !important;
}
.swal-modal.swalResults{
    width: 550px !important;
    .swal-content{
        p {
        color: white;
        font-weight: 700
        }
        strong{
            font-family: $headFont;
            color: white;
        }
    }
}
@media (max-width: 730px) {
    .swal-content p{
        clear: both;
        font-size: 0.8rem;
    }
    .swal-modal.swalResults{
        width: 400px !important;
    }
    .swal-modal.sweetWideAlert{
        width: 445px !important;
        .swal-button{
            padding: 10px 5px;
        }
    }
    .sweetVsDiv{
        width: 15%;
        p{
            margin: 19.5px 0;
        }
    }
    .sweetResultsDiv{
        width: 42%;
        p{
            font-size: 0.8rem;
        }
    }
}
@media (max-width: 480px) {
    .swal-modal.sweetWideAlert{
        width: 400px !important;
        .swal-button{
            font-size: 12px;
        }
    }
}