.playerTeam {
    width: 40%;
    float: left;
    h2{
        text-shadow:
            -2px -2px 0 green,  
            2px -2px 0 green,
            -2px 2px 0 green,
            2px 2px 0 green;
    }
}

.enemyTeam {
    width: 40%;
    float: right;
    text-align: right;
    h2{
        text-shadow:
            -2px -2px 0 red,  
            2px -2px 0 red,
            -2px 2px 0 red,
            2px 2px 0 red;
    }
}
.playerTeam, .enemyTeam {
    h2 {
        letter-spacing: 3px;
    }
}

.teamButtons {
    clear: both;
}

.teamPreview .characterBlock {
    background-color: rgb(213, 182, 6);
    border: 3px solid rgb(103, 103, 41);
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 10px;
    img{
        width: 14%;
        margin: 0 20px;
        border: 2px outset rgb(103, 103, 41);
        border-radius: 10px;
    }
    h3 {
        margin-bottom: 0;
    }
}

.characterBlock.player {
    img {
        float: left;
        
    }
    h3 {
        float: left;
    }
}

.characterBlock.enemy {
    img {
        float: right;
        
    }
    h3 {
        float: right;
    }
}

