.playerTeam {
    width: 45%;
    float: left;
    h2{
        text-shadow:
            -2px -2px 0 green,  
            2px -2px 0 green,
            -2px 2px 0 green,
            2px 2px 0 green;
    }
}

.enemyTeam {
    width: 45%;
    float: right;
    text-align: right;
    h2{
        text-shadow:
            -2px -2px 0 red,  
            2px -2px 0 red,
            -2px 2px 0 red,
            2px 2px 0 red;
    }
}
.playerTeam, .enemyTeam {
    h2 {
        letter-spacing: 3px;
        margin-top: 0;
    }
}

.teamButtons {
    clear: both;
    button{
        font-weight: 700;
        height: 60px;
        padding-top: 5px;
    }
    button:last-child{
        float: right;
    }
    button.backTeam{
        float: left;
    }
}

.teamPreview .characterBlock {
    background-color: rgb(213, 182, 6);
    border: 3px solid rgb(103, 103, 41);
    border-radius: 50px;
    padding: 5px;
    margin-bottom: 10px;
    height: 75px;
    img{
        width: 50px;
        height: 100%;
        margin: 0 20px;
        border: 2px outset rgb(103, 103, 41);
        border-radius: 10px;
    }
    h3 {
        margin-bottom: 0;
        margin-top: 15px;
    }
}
.logo h2{
    margin-bottom: 10px;
}
.characterBlock.player {
    border: 3px outset green;
    img {
        float: left;

    }
    h3 {
        float: left;
    }
}

.characterBlock.enemy {
    border: 3px outset red;
    img {
        float: right;
        
    }
    h3 {
        float: right;
    }
}
@media (max-width: 825px){

    .teamPreview .characterBlock{
        h3{
            font-size: 1rem;
            margin-top: 18px;
        }
    }
    .playerTeam h2, .enemyTeam h2{
        font-size: 1.5rem;
    }
    .teamButtons button{
        width: 250px;
        font-size: 1.5rem;
    }
}
@media (max-width: 730px) {
    .playerTeam, .enemyTeam {
        width: 50%;
        img {
            margin: 0 10px;
        }
    }
    .teamPreview .characterBlock{
        h3{
            font-size: 0.8rem;
            margin-top: 18px;
        }
    }
    .playerTeam h2, .enemyTeam h2{
        font-size: 1.1rem;
    }
    .teamButtons button{
        width: 200px;
        font-size: 1.5rem;
    }
}
@media (max-width: 570px) {
    .playerTeam, .enemyTeam {
        width: 50%;
        h2{
            font-size: 0.8rem;
        }
    }
}
@media (max-width: 490px) {
    .teamPreview .characterBlock{
        h3{
            font-size: 0.6rem;
            margin-top: 23px;
        }
    }
    .teamButtons button{
        width: 180px;
        font-size: 1.5rem;
    }
}
