.selectForm {
    border: 1px solid rgb(140, 140, 56);
    width: 45%;
    margin: 0 auto;
    background-color: rgb(140, 140, 56);
    float: left;
}

.teamName {
    text-align: center;
    // float: left;
    display: inline;
    
}

.infoIcon {
    float: right;
    text-align: right;
    margin: 0 5px 0 0;
    cursor: pointer;
}

.statsDescription {
    text-align: center;
    width: 30%;
    &__list {
        text-align: left;
        // width: 100%;
        transform: translateX(20%);
        margin: 0 auto;
    }
    &__item {
        font-size: 20px;
        color: white;
        font-weight: 700;  
        strong {
            font-size: 25px;
        }
    }
}




.selectCharacterBlock {
    margin: 10px;
    width: calc(100% - 20px);
    padding: 20px;
    background-color: rgb(213, 182, 6);
    border: 3px solid rgb(103, 103, 41);
    text-transform: uppercase;
    color: #3D3D3D;
}

.characterBlockContainer {
    clear: both;
}

.selectCharacterButton {
    width: calc(100% - 20px);
    background-color: rgb(213, 182, 6);
    border: none;
    text-transform: uppercase;
    color: #3D3D3D;
    // text-align: left;
    text-align: center;
    font-family: $bodyFont;
    margin: 0;
    &:hover {
        font-weight: bold;
    }
}


// once character is selected

.displayCharacterBlock {
    
    background-color: rgb(213, 182, 6);
    margin: 10px;
    padding: 10px;
    border: 7px solid #81CBBE;
    h3 {
        margin: 0;
        font-family: $bodyFont;
        color: $black;
        float: left;
    }
}

.characterImageContainer {
    display: none;
}


//stats list

.statsList {
    list-style: none;
    font-family: $bodyFont;
    float: left;
    padding-left: 9%;
    margin: 0;
    
    li {
        display: inline;
    }
}

.hideStats {
    display: none;
}

.showStats {
    display: block;
}

// change button

.changeCharacterButton,
.viewStatsButton {
    border-radius: 50px;
    padding: 5px 10px;
    border: 3px solid $lightBlue;
    float: right;
    font-size: 1rem;
    background-color: rgb(238, 238, 238);
}
.inactiveChangeCharacterButton {
    pointer-events: none;
    background: darkgrey;
    border: 3px solid grey;
    &:hover {
        cursor: auto;
    }
}



// MEDIA QUERIES
@media (max-width: 1150px) {
    .statsDescription {
        width: 45%;
    }
}

@media (max-width: 1070px) {

    .topBlock h3 {
        font-size: 1rem;
    }
}

@media (max-width: 940px) {
    .selectForm {
        float: none;
        width: 65%;
        margin: 30px auto;
    }
    .statsDescription {
    width: 45%;
    }

    .selectCharacterButton {
        border: 0.5px grey solid;
    }
}

@media (max-width: 767px) {
    .statsDescription {
        width: 70%;
    }
}

@media (max-width: 480px) {
    .statsDescription {
        width: 95%;
        &__list {
            transform: translateX(15%);
        }
    }
    .statsDescription .swal-title {
        font-size: 1.9rem;
        padding: 10px 8px;
    }
}

@media (max-width: 640px) {
    .selectForm {
        width: 100%;
    }
}

