.teamSelectButtonsContainer {
    border-top: 5px solid #8C8C38;
    border-bottom: 5px solid #8C8C38;
    width: 100%;
    height: 11%;
    margin: 0;
    position: relative;
    a{
        margin: 0;
    }
    .teamButton {
        width: 50%;
        height: 100%;
        border: none;
        border-right: 5px solid #8C8C38;
        &:hover {
            background-size: 50%
        }
        font-weight: 700;
        
    }
    
}

// save team button

.lock {
    margin-right: 5px;
}

.shrink {
    transform: scale(0.5);
    transition: all 0.5s;
    background: darkgrey;
    border: 5px solid grey;
    pointer-events: none;
    &:hover {
        background: darkgrey;
        border: 5px solid grey;
        cursor: auto;
    }

}

.shimmer {
    background: -webkit-gradient(linear, left top, right top, from(rgba($yellow, 0.9)), to(rgba($yellow, 0.9)), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(rgba($yellow, 0.9)), to(rgba($yellow, 0.9)), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(rgba($yellow, 0.9)), to(rgba($yellow, 0.9)), color-stop(0.5, #fff));
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: $yellow;
    animation-name: shimmer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.inactiveLink {
    pointer-events: none;
    transform: scale(0.5);
    transition: all 0.5s;
    background: darkgrey;
    border: 5px solid grey;
    &:hover {
        cursor: auto;
    }
}


//battle button

.linkToTeamPreview {
    display: none;
    
}

.showButton {
    text-decoration: none;
    margin: 0;
    display: inline;
}

.goBattleButton {
    display: inline-block;
    color: $black;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    padding: 10px 7px 2px;
}


// .hide {
//     display: none;
// }

.linkToTeamPreview {
    text-decoration: none;
}

@media (max-width: 985px) {
    .teamButton {
        font-size: 1rem;
    }
}