.teamSelectButtonsContainer {
    float: left;
    width: 20%;
    margin: 0;
    a{
        margin: 0;
    }
    .button {
        width: 60%;
        margin: 63px 0 0 20px;
        &:hover {
            background-size: 50%
        }
        
    }
    
}

// save team button



.shrink {
    transform: scale(0.5);
    transition: all 0.5s;
    background: darkgrey;
    border: 5px solid grey;
    pointer-events: none;
    &:hover {
        background: darkgrey;
        border: 5px solid grey;
        cursor: auto;
    }

}

.shimmer {
    background: -webkit-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgb(213, 182, 6);
    animation-name: shimmer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.inactiveLink {
    pointer-events: none;
    transform: scale(0.5);
    transition: all 0.5s;
    background: darkgrey;
    border: 5px solid grey;
    &:hover {
        cursor: auto;
    }
}


//battle button

.linkToTeamPreview {
    display: none;
    
}

.showButton {
    text-decoration: none;
    margin: 0;
    display: inline;
}

.goBattleButton {
    display: inline-block;
    background: -webkit-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: rgb(213, 182, 6);
    animation-name: shimmer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}


.hide {
    display: none;
}

.linkToTeamPreview {
    text-decoration: none;
}