body {
    font-size: 20px;
    margin: 0;
    height: 100vh;
    background-image: url('background.png');
    background-size: contain;
}


.wrapper {
    width: 85%;
    max-width: 1300px;
    margin: 0 auto;
}


.logo {
    font-family: 'VT323';
    color: rgb(129, 203, 190);
    text-shadow: 0 0 20px black;
    font-size: 2.5rem;
    float: left;
    text-shadow: #000;
    h2 {
        margin: 35px 0;
        }
    }


.title, .swal-title, .teamName h3 {
    font-family: $headFont;
    font-size: 3.5rem;
    letter-spacing: 5px;
    float: right;
    color: white;
    margin: 10px 0;
    text-shadow:
            -4px -4px 0 $black,  
            4px -4px 0 $black,
            -4px 4px 0 $black,
            4px 4px 0 $black;
}
.teamName h3 {
    float: none;
    font-size: 1.5rem;
    text-shadow:
            -3px -3px 0 $black,  
            3px -3px 0 $black,
            -3px 3px 0 $black,
            3px 3px 0 $black;
}
.playerTeam h2, .enemyTeam h2{
    font-family: $headFont;
    color: white;
    letter-spacing: 5px;
}
.swal-text, .swal-content, .teamName, .characterBlock{
    font-family: $bodyFont;
    color: $black;
    text-align: center;
}
.swal-text{
    color: white;
}
.swal-content__input {
    font-family: $bodyFont;
    border: 2px solid $black;
}

// button styles and animations

.button {
    color: #3D3D3D;
    border: 5px solid rgb(140, 140, 56);
    border-radius: 50px;
    text-decoration: none;
    font-family: $bodyFont;
    font-size: 2rem;
    text-align: center;
    // padding-top: 19px;
    background: rgb(213, 182, 6);
    width: 310px;
    max-width: 100%;
    height: 150px;
}

.button:hover {
    text-align: center;
    background-image: -moz-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
    background-image: linear-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
    background-size: 125px 100%;
    animation-name: shimmer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: rgb(213, 182, 6);
   
}

.button p {
    margin: 0;
}

// unclickable buttons

.buttonGrey {
    color: #3D3D3D;
    border: 5px solid grey;
    border-radius: 50px;
    text-decoration: none;
    font-family: $bodyFont;
    font-size: 2rem;
    text-align: center;
    padding-top: 19px;
    background: darkgrey;
    width: 50%;
    pointer-events: none;
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }
    50% {
        background-position: top right;
    }
    100% {
        background-position: top left;
    }
}

// stat display

.charaStat {
    margin: 5px;
    font-size: 0.7rem;
    border-radius: 50px;
    padding: 3px;
    border: 1px solid black;
}

.intelligenceStat {
    background-color: $intelligence;
}

.strengthStat {
    background-color: $strength;
}

.speedStat {
    background-color: $speed;
}

.durabilityStat {
    background-color: $durability;
}

.powerStat {
    background-color: $power; 
}

.combatStat {
    background-color: $combat;
}



        