// color variables

$black: #3D3D3D;
$darkBlue: #3A6683;
$lightBlue: #81CBBE;
$backBlue: rgb(73, 120, 154);
$yellow: #eae536 ;
$gold: rgb(213, 182, 6);
$darkGold : rgb(140, 140, 56);

// font variables
$headFont: "Bowlby One SC";
$bodyFont: "Nunito";

