// color variables

$black: #3D3D3D;
$darkBlue: #3A6683;
$lightBlue: #81CBBE;
$backBlue: rgb(73, 120, 154);
// $yellow: #eae536 ;
$yellow: rgb(255, 242, 0);
// $gold: #d5b606;
$gold: rgb(255, 242, 0);
$darkGold : #8c8c38;

// icon color variables

$intelligence: #ffff00;
$strength:  rgb(0, 255, 195);
$speed: red;
$durability: rgb(255, 6, 255);
$power: rgb(117, 250, 0);
$combat: #ffb71b;


// font variables
$headFont: "Bowlby One SC";
$bodyFont: "Nunito";

