// color variables

$black: #3D3D3D;
$darkBlue: #3A6683;
$lightBlue: #81CBBE;
$backBlue: rgb(73, 120, 154);
$yellow: #eae536 ;
$gold: rgb(213, 182, 6);
$darkGold : rgb(140, 140, 56);

// icon color variables

$intelligence: yellow;
$strength:  rgb(0, 255, 195);
$speed: red;
$durability: rgb(255, 6, 255);
$power: rgb(117, 250, 0);
$combat: rgb(255, 183, 27);


// font variables
$headFont: "Bowlby One SC";
$bodyFont: "Nunito";

