article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body {
  font-size: 20px;
  margin: 0;
  height: 100vh;
  background-image: url("background.png");
  background-size: contain; }

.wrapper {
  width: 85%;
  max-width: 1920px;
  margin: 0 auto; }

.logo {
  font-family: 'VT323';
  color: #81cbbe;
  text-shadow: 0 0 20px black;
  font-size: 2.5rem;
  float: left;
  text-shadow: #000; }
  .logo h2 {
    margin: 35px 0; }

.title, .swal-title, .teamName h3 {
  font-family: "Bowlby One SC";
  font-size: 3.5rem;
  letter-spacing: 5px;
  float: right;
  color: white;
  margin: 10px 0;
  text-shadow: -4px -4px 0 #3D3D3D, 4px -4px 0 #3D3D3D, -4px 4px 0 #3D3D3D, 4px 4px 0 #3D3D3D; }

.teamName h3 {
  float: none;
  font-size: 1.5rem;
  text-shadow: -3px -3px 0 #3D3D3D, 3px -3px 0 #3D3D3D, -3px 3px 0 #3D3D3D, 3px 3px 0 #3D3D3D; }

.playerTeam h2, .enemyTeam h2 {
  font-family: "Bowlby One SC";
  color: white;
  letter-spacing: 5px; }

.swal-text, .swal-content, .teamName, .characterBlock {
  font-family: "Nunito";
  color: #3D3D3D;
  text-align: center; }

.swal-text {
  color: white; }

.swal-content__input {
  font-family: "Nunito";
  border: 2px solid #3D3D3D; }

.button {
  color: #3D3D3D;
  border: 5px solid #8c8c38;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Nunito";
  font-size: 2rem;
  text-align: center;
  background: #d5b606;
  width: 310px;
  max-width: 100%;
  height: 150px; }

.button:hover {
  text-align: center;
  background-image: -moz-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
  background-image: linear-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
  background-size: 125px 100%;
  animation-name: shimmer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #d5b606; }

.button p {
  margin: 0; }

.buttonGrey {
  color: #3D3D3D;
  border: 5px solid grey;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Nunito";
  font-size: 2rem;
  text-align: center;
  padding-top: 19px;
  background: darkgrey;
  width: 50%;
  pointer-events: none; }

.homeButtonContainer {
  position: fixed;
  right: 5px;
  top: 8px; }

.homeButton {
  width: 120px;
  height: auto; }
  .homeButton p {
    font-weight: 700; }

@keyframes shimmer {
  0% {
    background-position: top left; }
  50% {
    background-position: top right; }
  100% {
    background-position: top left; } }

.charaStat {
  margin: 5px;
  font-size: 0.7rem;
  border-radius: 50px;
  padding: 3px;
  border: 1px solid black; }

.intelligenceStat {
  background-color: yellow; }

.strengthStat {
  background-color: #00ffc3; }

.speedStat {
  background-color: red; }

.durabilityStat {
  background-color: #ff06ff; }

.powerStat {
  background-color: #75fa00; }

.combatStat {
  background-color: #ffb71b; }

@media (max-width: 940px) {
  body {
    height: auto;
    padding-bottom: 100px; } }

@media (max-width: 640px) {
  .wrapper {
    width: 100%; } }

.logo {
  margin: 0; }

.title {
  float: none;
  text-align: center; }

.homeGroup {
  text-align: center; }

.homeGroup .button {
  margin: 30px; }
  .homeGroup .button p {
    font-weight: 700; }

.fa-caret-left {
  float: left;
  margin: 30px 0 0 0;
  font-size: 7rem;
  color: #3D3D3D;
  display: none; }

.homeGroupe p {
  margin: 0; }

.homeSection .options {
  padding-top: 5%;
  margin: 0 auto; }

.existingTeamsList {
  float: left;
  width: 30%;
  height: 459px;
  background-color: #d5b606;
  border: 8px solid #8C8C38;
  overflow: scroll; }

.listOfExistingTeams {
  cursor: pointer;
  font-family: "Nunito"; }
  .listOfExistingTeams li {
    list-style: none;
    font-weight: 700;
    color: #3D3D3D;
    display: inline; }
    .listOfExistingTeams li:hover {
      color: white; }

.homeFloat {
  float: left; }

@media (max-width: 1200px) {
  .existingTeamsList {
    width: 40%; } }

@media (max-width: 940px) {
  .existingTeamsList {
    width: 47%; }
  .homeGroup .button {
    margin-left: 0; }
  .headerTextContainer .logo {
    float: none; }
  .title {
    margin-top: 20px; } }

@media (max-width: 767px) {
  .existingTeamsList {
    width: 75%;
    margin: 0 auto;
    float: none;
    text-align: center; }
  .listOfExistingTeams {
    padding-left: 0; }
  .homeGroup .button {
    margin-right: 0;
    margin-left: 0;
    width: 310px; }
  .homeFloat {
    float: none; } }

@media (max-width: 480px) {
  .homeGroup .button {
    margin: 15px 0; }
  .existingTeamsList {
    float: none;
    margin: 0 auto;
    width: 78%; }
  .homeGroup .button {
    width: 100%; }
  .homeSection .options {
    margin: -30px 0 auto; } }

.selectForm {
  border: 1px solid #8c8c38;
  width: 45%;
  margin: 0 auto;
  background-color: #8c8c38;
  float: left; }

.teamName {
  text-align: center;
  display: inline; }

.infoIcon {
  float: right;
  text-align: right;
  margin: 0 5px 0 0;
  cursor: pointer; }

.statsDescription {
  text-align: center;
  width: 30%; }
  .statsDescription__list {
    text-align: left;
    transform: translateX(20%);
    margin: 0 auto; }
  .statsDescription__item {
    font-size: 20px;
    color: white;
    font-weight: 700; }
    .statsDescription__item strong {
      font-size: 25px; }

.selectCharacterBlock {
  margin: 10px;
  width: calc(100% - 20px);
  padding: 20px;
  background-color: #d5b606;
  border: 3px solid #676729;
  text-transform: uppercase;
  color: #3D3D3D; }

.characterBlockContainer {
  clear: both; }

.selectCharacterButton {
  width: calc(100% - 20px);
  background-color: #d5b606;
  border: none;
  text-transform: uppercase;
  color: #3D3D3D;
  text-align: center;
  font-family: "Nunito";
  margin: 0; }
  .selectCharacterButton:hover {
    font-weight: bold; }

.displayCharacterBlock {
  background-color: #d5b606;
  margin: 10px;
  padding: 10px;
  border: 7px solid #81CBBE; }
  .displayCharacterBlock h3 {
    margin: 0;
    font-family: "Nunito";
    color: #3D3D3D;
    float: left; }

.characterImageContainer {
  display: none; }

.statsList {
  list-style: none;
  font-family: "Nunito";
  float: left;
  padding-left: 9%;
  margin: 0; }
  .statsList li {
    display: inline; }

.hideStats {
  display: none; }

.showStats {
  display: block; }

.changeCharacterButton,
.viewStatsButton {
  border-radius: 50px;
  padding: 5px 10px;
  border: 3px solid #81CBBE;
  float: right;
  font-size: 1rem;
  background-color: #eeeeee; }

.inactiveChangeCharacterButton {
  pointer-events: none;
  background: darkgrey;
  border: 3px solid grey; }
  .inactiveChangeCharacterButton:hover {
    cursor: auto; }

@media (max-width: 1150px) {
  .statsDescription {
    width: 45%; } }

@media (max-width: 1070px) {
  .topBlock h3 {
    font-size: 1rem; } }

@media (max-width: 940px) {
  .selectForm {
    float: none;
    width: 65%;
    margin: 30px auto; }
  .statsDescription {
    width: 45%; }
  .selectCharacterButton {
    border: 0.5px grey solid; } }

@media (max-width: 767px) {
  .statsDescription {
    width: 70%; } }

@media (max-width: 480px) {
  .statsDescription {
    width: 95%; }
    .statsDescription__list {
      transform: translateX(15%); }
  .statsDescription .swal-title {
    font-size: 1.9rem;
    padding: 10px 8px; } }

@media (max-width: 640px) {
  .selectForm {
    width: 100%; } }

.teamSelectButtonsContainer {
  border-top: 5px solid #8C8C38;
  border-bottom: 5px solid #8C8C38;
  width: 100%;
  height: 11%;
  margin: 0;
  position: relative; }
  .teamSelectButtonsContainer a {
    margin: 0; }
  .teamSelectButtonsContainer .teamButton {
    width: 50%;
    height: 100%;
    border: none;
    font-weight: 700; }
    .teamSelectButtonsContainer .teamButton:hover {
      background-size: 50%; }

.lock {
  margin-right: 5px; }

.shrink {
  transform: scale(0.5);
  transition: all 0.5s;
  background: darkgrey;
  border: 5px solid grey;
  pointer-events: none; }
  .shrink:hover {
    background: darkgrey;
    border: 5px solid grey;
    cursor: auto; }

.shimmer {
  background: -webkit-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(rgba(220, 191, 27, 0.9)), to(rgba(220, 191, 27, 0.9)), color-stop(0.5, #fff));
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #d5b606;
  animation-name: shimmer;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

.inactiveLink {
  pointer-events: none;
  transform: scale(0.5);
  transition: all 0.5s;
  background: darkgrey;
  border: 5px solid grey; }
  .inactiveLink:hover {
    cursor: auto; }

.linkToTeamPreview {
  display: none; }

.showButton {
  text-decoration: none;
  margin: 0;
  display: inline; }

.goBattleButton {
  display: inline-block;
  color: #3D3D3D;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  padding: 10px 7px 2px; }

.hide {
  display: none; }

.linkToTeamPreview {
  text-decoration: none; }

@media (max-width: 985px) {
  .teamButton {
    font-size: 1rem; } }

.search {
  height: 482px;
  width: 45%;
  float: right;
  background-color: #d5b606;
  border: 7px solid #8C8C38;
  position: relative; }

.searchArea {
  margin: 10px;
  width: calc(100% - 20px);
  background-color: #d5b606;
  border: 4px solid #676729;
  text-transform: uppercase;
  font-family: "Nunito";
  color: #3D3D3D;
  height: 65px; }
  .searchArea input[type=text] {
    width: 60%;
    background-color: white;
    border: none;
    text-transform: uppercase;
    color: #3D3D3D;
    text-align: left;
    height: 97%;
    padding: 5px;
    font-size: 17px; }

.searchCharacterButton {
  width: 38%;
  background-color: #d5b606;
  border: 0;
  height: 100%; }

.resultsArea {
  height: 72%;
  overflow: scroll;
  padding: 20px; }

.searchResult {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px grey solid; }

.imageName {
  width: 30%;
  float: left; }
  .imageName img {
    width: 100%; }
  .imageName h3 {
    color: #3D3D3D;
    margin: 0; }

.resultBody {
  float: left; }
  .resultBody ul {
    padding-left: 10px;
    margin: 0;
    float: left; }

.addToRosterButton {
  float: left;
  margin-top: 22%;
  margin-left: 22px;
  border-radius: 50px;
  padding: 10px;
  border: 6px #81CBBE solid;
  font-family: "Nunito"; }

.charaStat {
  list-style: none; }

@media (max-width: 1070px) {
  .addToRosterButton {
    font-size: 1rem; }
  .imageName h3 {
    font-size: 1rem; } }

@media (max-width: 985px) {
  .rowList {
    display: block; }
  .addToRosterButton {
    margin: 0;
    float: none; } }

@media (max-width: 940px) {
  .search {
    float: none;
    width: 65%;
    margin: 0 auto; } }

.teamPreview .logo h2 {
  font-size: 2.5rem;
  margin: 0; }
@media (max-width: 640px) {
  .search {
    width: 100%; } }

.playerTeam {
  width: 45%;
  float: left; }
  .playerTeam h2 {
    text-shadow: -2px -2px 0 green,  
 2px -2px 0 green,
 -2px 2px 0 green,
 2px 2px 0 green; }

.enemyTeam {
  width: 45%;
  float: right;
  text-align: right; }
  .enemyTeam h2 {
    text-shadow: -2px -2px 0 red,  
 2px -2px 0 red,
 -2px 2px 0 red,
 2px 2px 0 red; }

.playerTeam h2, .enemyTeam h2 {
  letter-spacing: 3px;
  margin: 0; }

.teamButtons {
  clear: both; }
  .teamButtons button {
    font-weight: 700;
    height: 60px;
    padding-top: 5px; }
  .teamButtons button:last-child {
    float: right; }
  .teamButtons button.backTeam {
    float: left; }

.teamPreview .characterBlock {
  background-color: #d5b606;
  border: 3px solid #676729;
  border-radius: 50px;
  padding: 5px;
  margin-bottom: 10px;
  height: 75px; }
  .teamPreview .characterBlock img {
    width: 50px;
    height: 100%;
    margin: 0 20px;
    border: 2px outset #676729;
    border-radius: 10px; }
  .teamPreview .characterBlock h3 {
    margin-bottom: 0;
    margin-top: 15px; }

.logo h2 {
  margin-bottom: 10px; }

.characterBlock.player {
  border: 3px outset green; }
  .characterBlock.player img {
    float: left; }
  .characterBlock.player h3 {
    float: left; }

.characterBlock.enemy {
  border: 3px outset red; }
  .characterBlock.enemy img {
    float: right; }
  .characterBlock.enemy h3 {
    float: right; }

@media (max-width: 940px) {
  .teamPreview .title {
    font-size: 2.5rem; } }

@media (max-width: 825px) {
  .teamPreview .characterBlock h3 {
    font-size: 1rem;
    margin-top: 18px; }
  .teamPreview .characterBlock img {
    margin: 0 10px; }
  .playerTeam h2, .enemyTeam h2 {
    font-size: 1.5rem; }
  .teamButtons button {
    width: 250px;
    font-size: 1.5rem; } }

@media (max-width: 730px) {
  .homeButtonContainer .homeButton {
    width: 75px !important;
    font-size: 1rem !important; }
  .playerTeam, .enemyTeam {
    width: 50%; }
    .playerTeam img, .enemyTeam img {
      margin: 0 10px; }
  .teamPreview .characterBlock h3 {
    margin-top: 18px; }
  .playerTeam h2, .enemyTeam h2 {
    font-size: 1.1rem; }
  .teamButtons button {
    width: 200px;
    font-size: 1.5rem; } }

@media (max-width: 585px) {
  .teamPreview .title {
    font-size: 2rem; }
  .playerTeam, .enemyTeam {
    width: 50%; }
    .playerTeam h2, .enemyTeam h2 {
      font-size: 0.8rem; }
  .teamPreview .characterBlock h3 {
    font-size: 0.8rem;
    margin-top: 23px; } }

@media (max-width: 520px) {
  .teamPreview .characterBlock h3 {
    font-size: 0.6rem;
    margin-top: 23px; }
  .teamButtons button {
    width: 180px;
    font-size: 1.5rem; } }

.swal-overlay {
  background-color: rgba(129, 209, 190, 0.4); }

.swal-modal {
  background-color: #49789a;
  border: 5px solid #396683; }

.sweetButton {
  color: #3D3D3D;
  border: 5px solid #8c8c38;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Nunito";
  text-align: center;
  background: #d5b606; }
  .sweetButton:hover {
    background: #8b7604;
    border-color: #555522; }

.sweetResultsDiv {
  float: left;
  width: 37%; }
  .sweetResultsDiv.player {
    text-align: right; }
    .sweetResultsDiv.player strong {
      text-shadow: -2px -2px 0 green,  
 2px -2px 0 green,
 -2px 2px 0 green,
 2px 2px 0 green;
      font-size: 1.1rem; }
  .sweetResultsDiv.enemy {
    text-align: left; }
    .sweetResultsDiv.enemy strong {
      text-shadow: -2px -2px 0 red,  
 2px -2px 0 red,
 -2px 2px 0 red,
 2px 2px 0 red;
      font-size: 1.1rem; }

strong.player {
  text-shadow: -2px -2px 0 green,  
 2px -2px 0 green,
 -2px 2px 0 green,
 2px 2px 0 green;
  font-size: 1.1rem; }

strong.enemy {
  text-shadow: -2px -2px 0 red,  
 2px -2px 0 red,
 -2px 2px 0 red,
 2px 2px 0 red;
  font-size: 1.1rem; }

.swal-title {
  float: none;
  font-size: 2.2rem;
  text-shadow: -3px -3px 0 #3D3D3D, 3px -3px 0 #3D3D3D, -3px 3px 0 #3D3D3D, 3px 3px 0 #3D3D3D; }

.sweetVsDiv {
  float: left;
  width: 25%;
  font-family: "Bowlby One SC";
  text-shadow: -3px -3px 0 #3D3D3D, 3px -3px 0 #3D3D3D, -3px 3px 0 #3D3D3D, 3px 3px 0 #3D3D3D; }

.swal-modal.sweetWideAlert {
  width: 553px !important; }

.swal-modal.swalResults {
  width: 550px !important; }
  .swal-modal.swalResults .swal-content p {
    color: white;
    font-weight: 700; }
  .swal-modal.swalResults .swal-content strong {
    font-family: "Bowlby One SC";
    color: white; }

@media (max-width: 730px) {
  .swal-content p {
    clear: both;
    font-size: 0.8rem; }
  .swal-modal.swalResults {
    width: 400px !important; }
  .swal-modal.sweetWideAlert {
    width: 445px !important; }
    .swal-modal.sweetWideAlert .swal-button {
      padding: 10px 5px; }
  .sweetVsDiv {
    width: 15%; }
    .sweetVsDiv p {
      margin: 19.5px 0; }
  .sweetResultsDiv {
    width: 42%; }
    .sweetResultsDiv p {
      font-size: 0.8rem; } }

@media (max-width: 480px) {
  .swal-modal {
    width: 350px; }
  .swal-modal.swalResults {
    width: 370px !important; }
  .swal-modal.sweetWideAlert {
    width: 400px !important; }
    .swal-modal.sweetWideAlert .swal-button {
      font-size: 12px; } }

#themeAudio {
  width: 50px;
  border-radius: 40%;
  position: fixed;
  bottom: 2px;
  right: 2px; }

@media (max-width: 767px) {
  #themeAudio {
    top: 95%; } }
